<div class="jumbotron">
  <h2 class="display-4"><%= @channels.user.name %></h2><br/>
  <%= link_to 'Video' %> | 
  <%= link_to 'Playlist', page_playlists_path %> | 
<%= link_to 'Channel' %> | 
  <%= link_to 'Tentang' %></br></br>
  <%= link_to 'Upload Music', channel_path(@channels), class: 'btn btn-primary' %>     
</div>

<% @musics.each do |m| %>
<div class="card col-md-3">
  <div class="card-body">
    <h5 class="card-title"><%= m.title %></h5>
    <p class="card-text"><%= m.user.name %></p>
  </div>
</div>
<% end %>