<div class="jumbotron">
    <% @channels.each do |c| %>
        <h2 class="display-4"><%= c.user.name %></h2><br/>
        <%= link_to 'Video' %> | <%= link_to 'Playlist' %> | <%= link_to 'Channel' %> | <%= link_to 'Tentang' %></br></br>
    <%= link_to 'Upload Music', new_music_path, class: 'btn btn-primary' %>
<% end %>           
</div>
<div class="jumbotron">
    <% @musics.each do |m| %>
    		<h3 class="display-4"><%= m.title %></h3>
        <h2 class="display-4"><%= m.user.name %></h2>
<% end %>           
</div>